<div class="container example-container mat-elevation-z8" style="margin-top: 1em;">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card" [routerLink]="['/details/', post.id]">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.postTitle}}</mat-card-title>
      <p>By: {{post.postAuthor}}, {{post.updated | date: 'dd MMM yyyy'}}</p>
      <mat-card-subtitle>{{post.postDesc}}</mat-card-subtitle>
    </mat-card-header>
    <div class="text-center" style="text-align: center; margin-top: 2em; margin-bottom: 2em;"><img mat-card-image class="container text-center" src="{{post.postImgUrl}}" style=" text-align: center; width: 900px; height: 300px;" alt="{{post.postTitle}}" ></div>
   
    <mat-card-content>
      <dl>
        <dt>Post Content:</dt>
        <dd [innerHTML]="post.postContent"></dd>
        <dt>Reference:</dt>
        <dd>{{post.postReference}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" style="margin-right: 1em;" [routerLink]="['/post/edit', post.id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deletePost(post.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
